# Build artifacts
bin/

# data folder
**/data/
!/data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Go
*.test
*.out

# OCaml
_build/
*.install
*.merlin

# C++
*.o
*.a
*.dSYM/
rattype/rattype

# Rust
target/
Cargo.lock

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml
